BOT_TOKEN={{ bot_token }}
BOT_CHAT_ID=-1001856208477
BOT_THREAD_ID=930
BOT_MASTERS_0=saphka
BOT_MASTERS_1=Tindomerel
BOT_MASTERS_2=a_fischbach
BOT_MASTERS_3=mr_astronom
BOT_MASTERS_4=Leynad_Z
BOT_MASTERS_5=Malisieva
BOT_MASTERS_6=Burema
BOT_MASTERS_7=Wiorry
BOT_MASTERS_8=Marat_Chinga
BOT_MASTERS_9=GennadyPol
BOT_MASTERS_10=Surricatya
BOT_MASTERS_11=Enekein
BOT_MASTERS_12=dm_potapov
BOT_MASTERS_13=Tenreth
BOT_MASTERS_14=dReaMer188
BOT_MASTERS_15=Metayury